@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./dawnland.meep-light2014.ttf);
}
.splash {
}
.header {
  /*height: 40px;*/
  background-color: white;
}
.splah-text {
  z-index: 10;
  position: absolute;
  margin-top: 100px;
}
.splash-name {
  font-family: 'MyFont';
  font-size: 10em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 100px;
}
.splash-title {
  font-family: 'MyFont';
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  margin-left: 100px;
}
.background-video {
  height: 100%;
  width: 100%;
  float: left;
  padding: none;
}

.portal {
  background-color: #4e342e;
  padding-bottom: 30px;
}
.portal-text {
  margin-top: 20px;
  color: white;
}
.tour-details {
  margin-top: 20px;
  color: #66bb6a;
}
.host-details {
  margin-top: 20px;
  color: #ffb300;
}
